<launch>

   <node name="line_follower" pkg="final" type="line_follower.py" output="screen">
        <param name="plan_topic" value="/planner_node/car_plan" />
        <param name="pose_topic" value="/car/car_pose" />
        <param name="plan_lookahead" value="5" />
        <param name="translation_weight" value="1.0" />
        <param name="rotation_weight" value="0.3" />
        <param name="kp" value="5.0" />
        <param name="ki" value="0.0" />
        <param name="kd" value="1.0" />
        <param name="error_buff_length" value="10" />
        <param name="speed" value="0.3" />
   </node>

</launch>
